@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    height: 100vh;
    background: linear-gradient(to bottom right ,#67b26f, #4ca2cd);
    display: flex;
    align-items: center; /* Cross Axis */
    justify-content: center; /* Main Axix */

}

.pizza {
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 30px 80px 5px rgba(0, 0, 0, 0.644);
    display: flex;
    overflow: hidden;
}

.pizza__hero {
    flex: 0 0 35%;
    overflow: hidden;

}

.pizza__img {
    width: 100%;
    display: block;
    transform: scale(1.25, 1.25);
}

.pizza__content {
    background: white;
    flex: 1;
    padding: 35px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pizza__price {
    flex: 0 0 50px;
    background: linear-gradient(to bottom ,#67b26f, #4ca2cd);
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.pizza__title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    

}

.pizza__heading {
    font-size: 25px;
    margin-right: auto;
}

.pizza__tag {
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 100px;
    margin-left: 10px;
    
}

.pizza__tag--1 {
    background-color: #67b26f;
    
    
}

.pizza__tag--2 {
    background-color: #4ca2cd;
}

.pizza__description {
    font-size: 13px;
    margin-top: 15px;
}

.pizza__details {
    display: flex;
    margin-top: auto;

}

.pizza__detail {
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 7px;

    display: flex;
    align-items: center;

    
}

.emoji {
    font-size: 17px;
    margin-right: 5px;
}